<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DockerSelenium" verbose="1" parallel="tests" thread-count="6">

    <test name="GooglePageTest1">
        <classes>
            <class name="TestSuite.GoogleHomeTest" />
        </classes>
    </test>

    <test name="GoogleResultTest">
        <parameter name="keywords" value="Docker"></parameter>
        <parameter name="index" value="3"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>


    <test name="APITests">
        <classes>
            <class name="APITests.HTTPRequets" />
        </classes>
    </test>




</suite>
