<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DockerSelenium" verbose="1" parallel="tests" thread-count="11">
    <test name="GooglePageTest1">
        <classes>
            <class name="TestSuite.GoogleHomeTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest1">
        <parameter name="keywords" value="Docker"></parameter>
        <parameter name="index" value="3"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest2">
        <parameter name="keywords" value="Docker"></parameter>
        <parameter name="index" value="3"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest2">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest3">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest4">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest5">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest6">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest7">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest8">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

    <test name="GoogleSearchTest9">
        <parameter name="keywords" value="Selenium"/>
        <parameter name="index" value="2"></parameter>
        <classes>
            <class name="TestSuite.GoogleResultTest" />
        </classes>
    </test>

</suite>
